torch
torch-geometric==2.6.1
torch_scatter
torch_molecule==0.1.2
rdkit==2025.3.2
numpy==2.2.6
scipy==1.15.2
tqdm==4.67.1
matplotlib==3.10.3
scikit-learn==1.6.1
pandas==2.2.3
networkx==3.4.2
seaborn==0.13.2
deepchem==2.8.0
optuna==4.4.0
PyYAML==6.0.2
requests==2.32.4
joblib==1.5.1
pillow==11.2.1